<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Zova" Language="2052" Codepage="65001" Version="$(var.AppVersion)" Manufacturer="Zova" UpgradeCode="81a74a1b-e6db-4bdf-873c-0be9d9064a42">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="已安装较新的 Zova 版本。" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Property Id="WINDOWSBUILD"><RegistrySearch Id="ReadWindowsBuild" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Name="CurrentBuildNumber" Type="raw" Win64="yes" /></Property>
    <Condition Message="Zova 需要 64 位 Windows 10 或更新版本。">Installed OR (VersionNT64 AND WINDOWSBUILD &gt;= 10240)</Condition>
    <Icon Id="ZovaIcon" SourceFile="$(var.Payload)\jami.ico" />
    <Property Id="ARPPRODUCTICON" Value="ZovaIcon" />
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.Payload)\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.InstallerAssets)\top-banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.InstallerAssets)\main-banner.bmp" />
    <UIRef Id="WixUI_InstallDir" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder"><Directory Id="APPLICATIONFOLDER" Name="Zova" /></Directory>
      <Directory Id="ProgramMenuFolder"><Directory Id="ZovaMenuFolder" Name="Zova" /></Directory>
      <Directory Id="DesktopFolder" />
    </Directory>
    <DirectoryRef Id="ZovaMenuFolder">
      <Component Id="ZovaShortcuts" Guid="*" Win64="yes">
        <Shortcut Id="ZovaMenu" Directory="ZovaMenuFolder" Name="Zova" Target="[APPLICATIONFOLDER]Zova.exe" WorkingDirectory="APPLICATIONFOLDER" Icon="ZovaIcon" />
        <Shortcut Id="ZovaDesktop" Directory="DesktopFolder" Name="Zova" Target="[APPLICATIONFOLDER]Zova.exe" WorkingDirectory="APPLICATIONFOLDER" Icon="ZovaIcon" />
        <RemoveFolder Id="RemoveZovaMenu" Directory="ZovaMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Zova\Installer" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <Feature Id="Main" Title="Zova" Level="1">
      <ComponentGroupRef Id="ZovaPayload" />
      <ComponentRef Id="ZovaShortcuts" />
    </Feature>
  </Product>
</Wix>
